.menuWindows {
    background-image: url(../images/menubg.png);
    background-repeat: no-repeat;
    weight: 800px;
    height: 480px;
    background-position: center;
    text-align: center;
}
.otherWindows{
    background-image: url(../images/menubg.png);
    background-repeat: no-repeat;
    weight: 800px;
    height: 480px;
    background-position: center top;
    text-align: center;
    color: #ffffff;
}

#bgame{
    margin-top: 75px;
}